<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Posts</title>
    <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
</head>
<body>
    <div class="container">
    <h1>Delete Posts</h1>

    <ul>
        {{#each posts}}
            <li><a href="/admin/delete-post/{{post_id}}">{{title}}</a></li>
        {{/each}}
    </ul>
    <a href="/admin-dashboard">Back to dashboard</a>
    </div>
</body>
</html>
