<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/css/style2.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Blog Post Website</h1>
        <p>Explore the system features!</p>
        <p><a href="/login" class="button">Login</a></p>
        <p>Don't have an account yet?</p>
        <p><a href="/register">Register</a></p>
    </div>
</body>
</html>
